.btn-space {
    margin-top: 5px;
}

.center{
    text-align: center;
    height: 100px;
}

.vert{
    position: relative;
    top: 50%;
}

.center-text {
    text-align: center;
}

.disInlineBlock {
    display:inline-block;
}

.disBlock {
    display: block;
}

.disNone {
    display: none;
}

.menuBtn {
    display:inline-block;
    margin: 0 0 10px 10px;
}

.maxWidthContainerSm {
    max-width:650px;
}

.maxWidthContainerMd {
    max-width: 800px;
}

